<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list style="padding-top: 0px;">
    <ion-item-group>

      <ion-item-divider style="background-color: #e2e2e2; font-size: 10px;">
        <ion-label style="color: black;">Direcciones Favoritas</ion-label>
      </ion-item-divider>

        <ion-grid style="padding-left: unset;padding-right: unset;padding-bottom: 0px;">
          <ion-row style="border-bottom: rgb(184, 184, 184) 1px solid;">
            <ion-col size="10"><ion-label style="font-size: 12px;">Agregar Casa</ion-label></ion-col>
            <ion-col size="2"><ion-icon style="padding-top: px;" name="chevron-forward-outline"></ion-icon></ion-col>
          </ion-row>
          <ion-row style="border-bottom: rgb(184, 184, 184) 1px solid;">
            <ion-col size="10"><ion-label style="font-size: 12px;">Agregar Trabajo</ion-label></ion-col>
            <ion-col size="2"><ion-icon style="padding-top: px;" name="chevron-forward-outline"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>

      <ion-item-divider style="background-color: #e2e2e2; font-size: 10px;">
        <ion-label style="color: black;">Seguridad</ion-label>
      </ion-item-divider>

      <ion-grid style="padding-left: unset;padding-right: unset;padding-bottom: 0px;">
        <ion-row style="border-bottom: rgb(184, 184, 184) 1px solid;">
          <ion-col size="10"><ion-label style="font-size: 12px;">Verifica tu viaje</ion-label></ion-col>
          <ion-col size="2"><ion-icon style="padding-top: px;" name="chevron-forward-outline"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>

      <ion-item-divider style="background-color: #e2e2e2; font-size: 10px;">
        <ion-label style="color: black;">Familia</ion-label>
      </ion-item-divider>

      <ion-grid style="padding-left: unset;padding-right: unset;padding-bottom: 0px;">
        <ion-row style="border-bottom: rgb(184, 184, 184) 1px solid;">
          <ion-col size="10"><ion-label style="font-size: 12px;">Establece contactos de tus familiares</ion-label></ion-col>
          <ion-col size="2"><ion-icon style="padding-top: px;" name="chevron-forward-outline"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-group>
  </ion-list>

  <ion-button [routerLink]="['/login']" style="margin-top: 280px;
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fascinate&family=IBM+Plex+Mono:wght@500&family=Inconsolata:wght@200&family=Pacifico&family=Poppins:ital@1&display=swap');
  font-family: 'IBM Plex Mono'," fill="clear" expand="block" shape="round" color="danger">
    Cerrar Sesión
  </ion-button>


</ion-content>
