<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  <ion-title >Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Direcciones Favoritas</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label><ion-icon name="chevron-forward-outline"></ion-icon>Agregar casa</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label><ion-icon name="chevron-forward-outline"></ion-icon>Agregar Trabajo</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Seguridad</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label><ion-icon name="chevron-forward-outline"></ion-icon>Verifica tu viaje</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Familia</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Establece contactos de tus familiares</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label color="danger" >Cerrar Sesión</ion-label>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>







  <ion-tabs>

    <ion-tab-bar slot="bottom" color="dark" style="text-decoration: none;">
  
      <ion-tab-button [routerLink]="['/prueba1']" tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label >Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/mapa']" tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
  
  
    </ion-tab-bar>
  </ion-tabs>


































</ion-content>
