<ion-app>
  <ion-menu-toggle auto-hide="false" >
  <ion-menu side="start" menuId="first" contentId="main" >
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/prueba1']">Inicio</ion-item>
        <ion-item [routerLink]="['/mapa']">Mapa</ion-item>
        <ion-item [routerLink]="['/cuenta-cliente']">Cuenta</ion-item>
        <ion-item [routerLink]="['/configuracion']">Configuración</ion-item>
        <ion-item [routerLink]="['/ayuda']">Ayuda</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-menu-toggle>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>

